{% extends 'book_reviewers/layout.html' %}
{% block title %} Add Books | Reviewer {% endblock %}
{% block body %} 

<div class="row">
    <div class="col-md-6 offset-3">
            {% if messages %}
			<ul class="messages">
    		    {% for message in messages %}
    			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    		    {% endfor %}
			</ul>
		{% endif %}
    </div>
</div>

<div class="row">
    <div class="col-lg-10 offset-1">
        <h1>Add Book</h1>
        <form action="process_book" method="POST">
            {% csrf_token %}
            <div class="book-form">
                {{book_form.as_p}}
            </div>
            <input type="submit" value="Add Book" class="btn btn-primary add-book-btn">
        </form>
    </div>
</div>


{% endblock %}