{% extends 'book_reviewers/layout.html' %}
{% block title %} Add Books | Reviewer {% endblock %}
{% block body %} 

<div class="row">
    <div class="col-lg-6">
        <h1 class="text-center">Book</h1>
        <h3>{{book.title}}</h3>
        <p class="lead">{{book.content}}</p>
        <hr>
        <br>
        <h1 class="text-center">Book Reviews</h1>
        {% if reviews %}
            {% for review in reviews %}
                <a href="/book-reviews/{{book.id}}/delete/{{review.id}}" class="btn btn-danger">X</a>
                <h3>{{review.title}}</h3>
                <p class="lead">{{review.body}}</p>
                <p>{{review.user.first_name}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-6">
        <h1 class="text-center">Review</h1>
        <form action="/book-reviews/{{book.id}}/process_review" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea name="body" class="form-control" cols="30" rows="10" placeholder="This is the review content"></textarea>
            </div>
            <input type="submit" value="Add Review" class="btn btn-info btn-lg">
        </form>
    </div>
</div>


{% endblock %}