{% extends 'book_reviewers/layout.html' %}
{% block title %} {{block.super}} | Review A Book {% endblock %}
{% block body %} 

<div class="row">
    <div class="col-lg-8">
        <h1 class="text-center text-white">Book</h1>
        <h3>{{book.title}}</h3>
        <p class="lead">{{book.content}}</p>
        <hr>
        <br>
        <h1 class="text-center text-white">Book Reviews</h1>
        {% if reviews %}
            {% for review in reviews %}
            <div class="review">
                <script type="text/javascript">
                    for(var i = 0; i < {{review.rating}}; i++) {
                        document.write('<i class="fa fa-star"></i>');
                    }
                </script>
                <h3>{{review.title}}</h3>
                <p class="lead">{{review.body}}</p>
                <p class="name">{{review.user.first_name}}</p>
                {% if review.user.id == request.session.id %}
                <a class="delete" href="/book-reviews/{{book.id}}/delete/{{review.id}}" class="btn btn-danger">X</a>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-4">
        <h1 class="text-center">Review</h1>
        <form action="/book-reviews/{{book.id}}/process_review" method="POST">
            {% csrf_token %}
            <div class="add_review">
                {{review_form.as_p}}
            </div>
            <input type="submit" value="Add Review" class="btn btn-success btn-block">
        </form>
    </div>
</div>


{% endblock %}