nav.navbar {
    background: linear-gradient(120px, rgba(50,50,50,0.7), rgba(20,20,20,0.7)) !important;
}
.review h3 {
    color: #f8f8f8;
}
.review {
    padding-bottom: 10px;
}
.review p .lead {
    color: #ccc;
}
.review p.name {
    color: dodgerblue;
}
.card-title {
    color: dodgerblue;
}
.btn-primary {
    background-color: dodgerblue !important;
}
.card {
    border: 1px solid dodgerblue;
    padding: 0;
}
.delete {
    width: 25px;
    height: 22px;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}
.fa-star {
    padding-left: 5px;
    color: gold;
}
.log-reg-form p > input {
    position: relative;
    right: 100px;
    float: right;
}
.log-reg-form > p > label {
    position: relative;
    left: 40px;
}
.reg-btn {
    position: relative;
    left: 50%;
}
.log-btn {
    position: relative;
    left: 50%;
}
.book-form > p > label {
    vertical-align: top;
}
.book-form > p > input#id_title {
    position: relative;
    left: 5%;
    width: 50%;
}
.book-form > p > textarea#id_content {
    position: relative;
    left: 2%;
    width: 50%;
}
.add-book-btn {
    position: relative;
    left: 30%;
}
.body-style {
    background: linear-gradient(120deg, rgba(10,10,10,1), rgba(50,50,50,0.5));
    -webkit-background: linear-gradient(120deg, rgba(10,10,10,1), rgba(50,50,50,0.5));
    -moz-background: linear-gradient(120deg, rgba(10,10,10,1), rgba(50,50,50,0.5));
    -o-background: linear-gradient(120deg, rgba(10,10,10,1), rgba(50,50,50,0.5));
}
.card {
    border: 0.5px solid rgba(50,50,50,0.5);
    background: linear-gradient(90deg, rgba(50,50,50,0.5), rgba(20,20,20,0.9));
    -webkit-background: linear-gradient(90deg, rgba(50,50,50,0.5), rgba(20,20,20,0.9));
    -moz-background: linear-gradient(90deg, rgba(50,50,50,0.5), rgba(20,20,20,0.9));
    -o-background: linear-gradient(90deg, rgba(50,50,50,0.5), rgba(20,20,20,0.9));
}
.card-title {
    
}
.card-text {
    color: white;
}